



header {
  background-color: blue;
  display: flex;
}

#header-brand-name {
  display: inline-block;
  margin: auto;

}

#header-brand-name-text {
  color: white;
  font-size: 70px;
  padding: 25px;
  text-shadow: 3px 3px black;
}

#header-brand-logo {
  display: inline-block;
  width: 25%;
  margin: 0px -45px 0px 0px;
}

#header-brand-logo-img {
  display: block;
  justify-content: flex-end;
  margin: 10px auto;
}


footer {
  height: 16px;
  line-height: 16px; /* same as height! */
}


#footer {
  font-size: 24px;
}
